@charset "utf-8";

@font-face {
	font-family: "darakR";
	src: url(../fonts/210다락방R.ttf) format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "notoM";
	src: url(../fonts/NotoSansCJKkr-Medium.otf) format('opentype');
	font-weight: normal;
	font-style: normal;
}

/****************************************/
/*	Name: 테마관 이벤트
/*	PART: STYLE
/*	Version: 1.0
/*	Author: winvention 개발2팀 퍼블리싱 파트
/****************************************/

html {margin:0;padding:0; font-size:100%;}
body {margin:0; padding:0;font-family:'openSans-Regular','맑은 고딕',Malgun Gothic,'돋움',Dotum,AppleGothic,sans-serif;line-height:1.5; color:#292a37;letter-spacing:0;-webkit-text-size-adjust:none;}
div,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,p,form,fieldset,input,table,tr,th,td,button,textarea,select {margin:0;padding:0;}
h1, h2, h3, h4, h5, h6{font-weight:normal}
img {border:0;vertical-align:top;}
ul,ol,dl,dt,dd,li {list-style:none;}
table, th, td {border-collapse:collapse;border-spacing:0;font-weight: normal;}
caption {display:block;text-indent:-9999em;overflow:hidden;height:0;font-size:0;line-height:0;}
fieldset, blockquote, iframe, button {border:none;}
i, em, u, cite {font-style:normal;}
strong,em, b {font-weight:normal;}
a {color:#292a37;text-decoration:none;}
button {background:transparent;cursor:pointer;vertical-align:middle;margin:0;padding:0;color: inherit;
	font-size: inherit;
	font-weight: inherit;
	font-family: inherit;
	outline: none}
button,input[type="submit"], input[type="button"], input[type="reset"] {cursor:pointer;-webkit-appearance:none;}
section, nav, article, aside, header, footer, main {display:block;}
input[type="date"]::-webkit-calendar-picker-indicator,
input[type="date"]::-webkit-inner-spin-button {display:none;}
input[type="text"],
input[type="search"],
input[type="tel"],
input[type="number"],
input[type="password"]{-webkit-appearance:none;border-radius:0}
select, textarea, button {webkit-appearance: none;border-radius: 0}
input[type="text"],input[type="search"] {-webkit-appearance:none; border-radius: 0}

/* 작업영역 */
.swiper-container{
	width: 100%;
}
img{width:100%;}
header{
	position: relative;
}
.nav{
	font-family: "darakR", sans-serif;
	width: 100%;
	position: absolute;
	height: 43px;
	left: 0;
	bottom: -43px;
}
.contents-banner-top.contents-banner-01{
	margin-top: 52px;
}
.nav.on{
	position: fixed;
	top: 0;
	z-index: 10;
}
.nav ul{
	display: -webkit-box;
}
.nav li{
	-webkit-box-flex: 1;
	text-align: center;
	border-right: 1px solid #858396;
	background: #77758a;
	font-size: 13px;
	font-weight: bold;
	color: #c3c2ca;
	padding: 12px 10px;
	letter-spacing: -1px;
}
.nav li a{
	display: block;
}
.nav li:last-of-type{
	border-right: none;
}
.nav li.on{
	background: #c02cca;
	color: #fff;
}
.contents-banner-top{
	margin-top: 9px;
}
.win-event-mo .swiper-container {
	margin-top: 10px;
}
/* swipe 스타일 변경 */
.win-event-mo .swiper-pagination-bullet{
	width: 8px;
	height: 8px;
	border-radius: 8px;
	border: 1px solid #a9a4a8;
	background: transparent;
}
.win-event-mo .swiper-pagination-bullet-active{
	background: #c02cca;
	width: 30px;
	height: 9px;
	border-radius: 9px;
	border: none;
}
.win-event-mo .swiper-container-horizontal>.swiper-pagination{
	bottom: 0;
}
.article-contents-list{
	padding: 15px 15px 0;
	font-family: "notoM", sans-serif;
}
.article-contents-list li{
	margin-bottom: 33px;
}
.article-contents-list .img-wrap{
	position: relative;
	margin-bottom: 13px;
}
.article-contents-list .img-wrap img{
	border: 1px solid #d4d4d4;
}
.article-contents-list .contents-title{
	font-size: 17px;
	color: #333;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2; /* 라인수 */
	-webkit-box-orient: vertical;
	word-wrap:break-word;
	line-height: 1.2;
}
.article-contents-list .time-wrap{
	position: absolute;
	right: -1px;
	bottom: 1px;
	padding: 4px;
	background: #474647;
	color: #fff;
	font-size: 11px;
	line-height: 1;
}
.btn-more{
	display: block;
	width: 100%;
	padding: 11px 0;
	background: #55536c;
	text-align: center;
	font-size: 16px;
	color: #fff;
}
footer{
	text-align: right;
	padding: 0 15px 12px;
}
footer .img-win-logo{
	width: 105px;
	margin: 34px 0 8px;
}
footer .txt-titan{
	display: block;
	color: #999;
	font-size: 13px;
}
.ic-plus {
	width: 13px;
	height: 13px;
	vertical-align: top;
	padding: 6px 0 0 7px;

}